/*
&#8451*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(219, 213, 213);
}
.tem_row{
    width: 100%;
    height: max-content;
    margin: 150px 0px;
    display: inline-flex;
    justify-content: center;
}
.tem_body{
    width: 35%;
    height: 500px;
    border-radius: 20px;
    background-color: rgb(228, 169, 6);
}
.tem_body h1{
    text-align: center;
    margin: 30px 8px;
    color: rgb(172, 84, 173);
}

.label{
    display: inline-block;
    width: 150px;
    margin: 10px 50px;
    font-size: 20px;
    height: 35px;
    color: rgb(248, 241, 241);
}
.label1{
    display: inline-block;
    width: 75%;
    margin: 10px 50px;
    height: 40px;
    border: hidden;
    font-size: 25px;
    border-bottom: 2px solid rgb(211, 56, 239);
}

.input{
    display: inline-block;
    width: 150px;
    margin: 0px 50px;
    height: 40px;
    border: hidden;
    border-bottom: 2px solid indianred;
    font-size: 22px;
}

.but{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: max-content;
}

button{
    width: 70%;
    height: 60px;
    margin: 25px 0px;
    background-color: rgb(191, 31, 216);
    border-radius: 12px;
    border: hidden;
    color: aliceblue;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
